{% comment %}
    Renders a custom card with optional image, text, and button.
    Accepts:
    - block: {Object} Block object containing settings.
{% endcomment %}

<style>
  .card-custom-wrapper .card--text .card__inner {
    align-items: center; 
  }

  .card__content--custom {
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .custom-card-bullets {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    text-align: left;
  }

  .custom-card-bullets li {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    margin-bottom: 0.6rem;
    font-size: 1.3rem; 
  }

  .custom-card-bullets .icon {
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
    color: currentColor;
  }

  @media screen and (min-width: 750px) {
    .card__content--custom {
      padding: 2rem;
    }
  }

  .card-media--fit,
  .card-media--cover {
    height: 100%;
  }

  .card-media--fit img,
  .card-media--cover img {
    height: 100%;
  }

  .card-media--fit img {
    object-fit: contain !important;
  }

  .card-media--cover img {
    object-fit: cover !important;
  }

  .card__content--custom .card__information {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
</style>

<div class="card-wrapper product-card-wrapper card-custom-wrapper">
  {%- liquid
    assign ratio = 1
    if block.settings.image_ratio == 'portrait'
      assign ratio = 0.8
    elsif block.settings.image_ratio == 'adapt' and block.settings.image
      assign ratio = block.settings.image.aspect_ratio
    elsif block.settings.image_ratio == 'fit' or block.settings.image_ratio == 'cover'
      assign ratio = 'full'
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="card card--{{ settings.card_style }} 
    {% if block.settings.image != blank %} card--media{% else %} card--text{% endif %}
    {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
    {% if block.settings.image_shape and block.settings.image_shape != 'default' %} card--shape{% endif %}
    "
    style="background-color: {{ block.settings.background_color }}; {% if ratio != 'full' %}--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;{% endif %}"
  >
    <div class="card__inner {% if ratio != 'full' %}ratio{% endif %}" style="{% if ratio != 'full' %}--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;{% else %}height: 100%;{% endif %}">
        {%- if block.settings.image != blank -%}
            <div class="card__media{% if block.settings.image_shape and block.settings.image_shape != 'default' %} shape--{{ block.settings.image_shape }}{% endif %}{% if block.settings.image_ratio == 'fit' %} card-media--fit{% elsif block.settings.image_ratio == 'cover' %} card-media--cover{% endif %}">
                <div class="media media--transparent media--hover-effect">
                    <img
                        srcset="{{ block.settings.image | image_url: width: 165 }} 165w,
                                {{ block.settings.image | image_url: width: 360 }} 360w,
                                {{ block.settings.image | image_url: width: 533 }} 533w,
                                {{ block.settings.image | image_url: width: 720 }} 720w,
                                {{ block.settings.image | image_url: width: 940 }} 940w"
                        src="{{ block.settings.image | image_url: width: 533 }}"
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                        alt="{{ block.settings.image.alt | escape }}"
                        class="motion-reduce"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        style="object-position: {{ block.settings.image_horizontal_alignment }} {{ block.settings.image_vertical_alignment }};"
                    >
                </div>
            </div>
        {%- endif -%}
        
        <div class="card__content card__content--custom">
            <div class="card__information">
                {%- if block.settings.heading != blank -%}
                    <h3 class="card__heading h5">{{ block.settings.heading | escape }}</h3>
                {%- endif -%}
                
                {%- if block.settings.text != blank -%}
                    <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}

                <ul class="icon-with-text icon-with-text--vertical list-unstyled custom-card-bullets">
                    {%- for i in (1..5) -%}
                        {%- assign icon_key = 'icon_' | append: i -%}
                        {%- assign text_key = 'text_' | append: i -%}
                        {%- assign icon = block.settings[icon_key] -%}
                        {%- assign text = block.settings[text_key] -%}
                        
                        {%- if text != blank -%}
                        <li class="icon-with-text__item">
                            {% render 'icon-accordion', icon: icon %}
                            <span class="h4 inline-richtext">{{ text }}</span>
                        </li>
                        {%- endif -%}
                    {%- endfor -%}
                </ul>

                {%- if block.settings.button_label != blank -%}
                    {%- liquid
                        assign btn_style = ''
                        assign btn_class = 'button button--primary color-' | append: block.settings.button_color_scheme
                        if block.settings.button_horizontal_alignment == 'full'
                            assign btn_class = btn_class | append: ' full-width'
                        elsif block.settings.button_horizontal_alignment == 'left'
                            assign btn_style = 'align-self: flex-start; width: fit-content;'
                        elsif block.settings.button_horizontal_alignment == 'center'
                            assign btn_style = 'align-self: center; width: fit-content;'
                        elsif block.settings.button_horizontal_alignment == 'right'
                            assign btn_style = 'align-self: flex-end; width: fit-content;'
                        endif
                    -%}
                    <a href="{{ block.settings.button_link }}" class="{{ btn_class }}" style="{{ btn_style }}">
                        {{ block.settings.button_label | escape }}
                    </a>
                {%- endif -%}
            </div>
        </div>
    </div>
    <div class="card__content card__content--custom visible-on-hover">
         <div class="card__information">
             {%- if block.settings.heading != blank -%}
                 <h3 class="card__heading h5">{{ block.settings.heading | escape }}</h3>
             {%- endif -%}
                
                {%- if block.settings.text != blank -%}
                    <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}

                <ul class="icon-with-text icon-with-text--vertical list-unstyled custom-card-bullets">
                    {%- for i in (1..5) -%}
                        {%- assign icon_key = 'icon_' | append: i -%}
                        {%- assign text_key = 'text_' | append: i -%}
                        {%- assign icon = block.settings[icon_key] -%}
                        {%- assign text = block.settings[text_key] -%}
                        
                        {%- if text != blank -%}
                        <li class="icon-with-text__item">
                            {% render 'icon-accordion', icon: icon %}
                            <span class="h4 inline-richtext">{{ text }}</span>
                        </li>
                        {%- endif -%}
                    {%- endfor -%}
                </ul>

                {%- if block.settings.button_label != blank -%}
                    {%- liquid
                        assign btn_style = ''
                        assign btn_class = 'button button--primary color-' | append: block.settings.button_color_scheme
                        if block.settings.button_horizontal_alignment == 'full'
                            assign btn_class = btn_class | append: ' full-width'
                        elsif block.settings.button_horizontal_alignment == 'left'
                            assign btn_style = 'align-self: flex-start; width: fit-content;'
                        elsif block.settings.button_horizontal_alignment == 'center'
                            assign btn_style = 'align-self: center; width: fit-content;'
                        elsif block.settings.button_horizontal_alignment == 'right'
                            assign btn_style = 'align-self: flex-end; width: fit-content;'
                        endif
                    -%}
                    <a href="{{ block.settings.button_link }}" class="{{ btn_class }}" style="{{ btn_style }}">
                        {{ block.settings.button_label | escape }}
                    </a>
                {%- endif -%}
         </div>
    </div>
  </div>
</div>
